<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API新建或修改</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/codemirror.min.css"/>
  <style>
    #result-render {
      border-width: 1px;
    }
  </style>
</head>
<body>

<h2>{% if method == "POST" %}新建一个API{% else %}修改这个API{% endif %}</h2>
<form action="" id="code_form" method="{{ method }}">
  {% for field in form %}
    {{ field.label }}: {{ field }}<br>
  {% endfor %}
    <button id="submit-button" type="submit" >提交表单</button>
  {% if method == "PUT" %} <button id="delete-button">删除这个API</button>{% endif %}
</form>
-------------------------------------------------------------------------------------------------
<div>
  <form>
    <label>请求地址：</label><input id="request-url" placeholder="填写地址" type="text" value="{{ request.path }}"/>
    <button id="run-get">发起GET请求</button>
  </form>
  <label>请求结果输出：</label><br>
  <iframe src="" id="result-render" width="100%">
  </iframe>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.12.0/mode/python/python.js"></script>
<script>
  var body = document.getElementById('body');
  var editor = CodeMirror.fromTextArea(body, {
    lineNumbers: true,
    mode:  "python",
    smartIndent: true,
    tabSize: 4,
    indentUnit: 4
  });
</script>
<script>
  function submit_form(form, on_load_func) {
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();

    xhr.open("{{ method }}", form.action);
    xhr.onload = function (){
      on_load_func(xhr);
    };
    xhr.send(formData);
  }

  document.getElementById("code_form").onsubmit = function (e) {
    var button = document.getElementById("submit-button");
    button.disabled = true;
    e.preventDefault();
    submit_form(
      e.target,
      function (xhr) {
        button.disabled = false;
        alert(xhr.responseText);
    });
  };

  document.getElementById("run-get").onclick = function (e){
    e.preventDefault();
    document.getElementById("result-render").src = document.getElementById('request-url').value;
  };

  document.getElementById("delete-button").onclick = function (e) {
    var button = document.getElementById("delete-button");
    button.disabled = true;
    e.preventDefault();
    var xhr = new XMLHttpRequest();
    xhr.open("DELETE", '');
    xhr.onload = function (){
      alert(xhr.responseText);
      button.disabled = false;
    };
    xhr.send();

  };


</script>
</body>
</html>